body{
font-family:sans-serif;
text-align:center;
}

#grid{
display:grid;
grid-template-columns:repeat(6,80px);
gap:10px;
justify-content:center;
margin-top:20px;
}

.locker{
padding:20px;
border-radius:8px;
cursor:pointer;
background:#9be59b;
}

.reserved{
background:#ff8a8a;
cursor:not-allowed;
}